body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid-container {
    width: 90vw;
    height: 90vw;
    padding: 0px;
    margin: 3vw auto;
    display: flex;
    flex-wrap: wrap;
}

.drawn {
    background-color: black;
    border: none;
}